@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: url(/images/hero-bg.jpg);

}
.section-padding {
	padding: 100px 0;
}
.hero {
	height: 100vh;
	min-height: 300px;
}
#logo{
	height:59px;
width: auto;
}
.signup{
    position: relative;
    top: 70px;
}
